html {
    --vh: 1vh;
    min-height: 100%;
    min-height: calc(var(--vh) * 100);
}

body,
html {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

body {
    background-color: #1c2222;
    font-family: Arial, "Helvetica Neue", sans-serif;
    margin: 0;
    text-shadow: rgba(0, 0, 0, 0.01) 0 0 1px;
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
    padding-left: env(safe-area-inset-left);
    padding-right: env(safe-area-inset-right);
    -webkit-text-size-adjust: none;
}

.loader {
    display: block;
    position: relative;
    width: 80px;
    height: 80px;
    margin: 100px auto;
}
.loader div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #483eff;
    border-radius: 50%;
    animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #483eff transparent transparent transparent;
}
.loader div:nth-child(1) {
    animation-delay: -0.45s;
}
.loader div:nth-child(2) {
    animation-delay: -0.3s;
}
.loader div:nth-child(3) {
    animation-delay: -0.15s;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}